/**
 * Grid System Styles (Row & Col)
 *
 * 24-column responsive grid system
 * Breakpoints: xs < 576px, sm ≥ 576px, md ≥ 768px, lg ≥ 992px, xl ≥ 1200px, xxl ≥ 1600px
 */

/* ==========================================================================
   Row Styles
   ========================================================================== */

.row {
  display: flex;
  flex-flow: row wrap;
}

/* Justify (horizontal alignment) */
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

/* Align (vertical alignment) */
.align-top {
  align-items: flex-start;
}

.align-middle {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

/* Wrap */
.wrap {
  flex-wrap: wrap;
}

/* ==========================================================================
   Col Styles
   ========================================================================== */

.col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

/* Generate col span classes (1-24) */
.col-1 { flex: 0 0 4.166667%; max-width: 4.166667%; }
.col-2 { flex: 0 0 8.333333%; max-width: 8.333333%; }
.col-3 { flex: 0 0 12.5%; max-width: 12.5%; }
.col-4 { flex: 0 0 16.666667%; max-width: 16.666667%; }
.col-5 { flex: 0 0 20.833333%; max-width: 20.833333%; }
.col-6 { flex: 0 0 25%; max-width: 25%; }
.col-7 { flex: 0 0 29.166667%; max-width: 29.166667%; }
.col-8 { flex: 0 0 33.333333%; max-width: 33.333333%; }
.col-9 { flex: 0 0 37.5%; max-width: 37.5%; }
.col-10 { flex: 0 0 41.666667%; max-width: 41.666667%; }
.col-11 { flex: 0 0 45.833333%; max-width: 45.833333%; }
.col-12 { flex: 0 0 50%; max-width: 50%; }
.col-13 { flex: 0 0 54.166667%; max-width: 54.166667%; }
.col-14 { flex: 0 0 58.333333%; max-width: 58.333333%; }
.col-15 { flex: 0 0 62.5%; max-width: 62.5%; }
.col-16 { flex: 0 0 66.666667%; max-width: 66.666667%; }
.col-17 { flex: 0 0 70.833333%; max-width: 70.833333%; }
.col-18 { flex: 0 0 75%; max-width: 75%; }
.col-19 { flex: 0 0 79.166667%; max-width: 79.166667%; }
.col-20 { flex: 0 0 83.333333%; max-width: 83.333333%; }
.col-21 { flex: 0 0 87.5%; max-width: 87.5%; }
.col-22 { flex: 0 0 91.666667%; max-width: 91.666667%; }
.col-23 { flex: 0 0 95.833333%; max-width: 95.833333%; }
.col-24 { flex: 0 0 100%; max-width: 100%; }

/* Generate offset classes (0-23) */
.col-offset-0 { margin-left: 0; }
.col-offset-1 { margin-left: 4.166667%; }
.col-offset-2 { margin-left: 8.333333%; }
.col-offset-3 { margin-left: 12.5%; }
.col-offset-4 { margin-left: 16.666667%; }
.col-offset-5 { margin-left: 20.833333%; }
.col-offset-6 { margin-left: 25%; }
.col-offset-7 { margin-left: 29.166667%; }
.col-offset-8 { margin-left: 33.333333%; }
.col-offset-9 { margin-left: 37.5%; }
.col-offset-10 { margin-left: 41.666667%; }
.col-offset-11 { margin-left: 45.833333%; }
.col-offset-12 { margin-left: 50%; }
.col-offset-13 { margin-left: 54.166667%; }
.col-offset-14 { margin-left: 58.333333%; }
.col-offset-15 { margin-left: 62.5%; }
.col-offset-16 { margin-left: 66.666667%; }
.col-offset-17 { margin-left: 70.833333%; }
.col-offset-18 { margin-left: 75%; }
.col-offset-19 { margin-left: 79.166667%; }
.col-offset-20 { margin-left: 83.333333%; }
.col-offset-21 { margin-left: 87.5%; }
.col-offset-22 { margin-left: 91.666667%; }
.col-offset-23 { margin-left: 95.833333%; }

/* ==========================================================================
   Responsive Breakpoints
   ========================================================================== */

/* XS - Extra Small: < 576px (mobile) */
@media (max-width: 575px) {
  .col-xs-1 { flex: 0 0 4.166667%; max-width: 4.166667%; }
  .col-xs-2 { flex: 0 0 8.333333%; max-width: 8.333333%; }
  .col-xs-3 { flex: 0 0 12.5%; max-width: 12.5%; }
  .col-xs-4 { flex: 0 0 16.666667%; max-width: 16.666667%; }
  .col-xs-5 { flex: 0 0 20.833333%; max-width: 20.833333%; }
  .col-xs-6 { flex: 0 0 25%; max-width: 25%; }
  .col-xs-7 { flex: 0 0 29.166667%; max-width: 29.166667%; }
  .col-xs-8 { flex: 0 0 33.333333%; max-width: 33.333333%; }
  .col-xs-9 { flex: 0 0 37.5%; max-width: 37.5%; }
  .col-xs-10 { flex: 0 0 41.666667%; max-width: 41.666667%; }
  .col-xs-11 { flex: 0 0 45.833333%; max-width: 45.833333%; }
  .col-xs-12 { flex: 0 0 50%; max-width: 50%; }
  .col-xs-13 { flex: 0 0 54.166667%; max-width: 54.166667%; }
  .col-xs-14 { flex: 0 0 58.333333%; max-width: 58.333333%; }
  .col-xs-15 { flex: 0 0 62.5%; max-width: 62.5%; }
  .col-xs-16 { flex: 0 0 66.666667%; max-width: 66.666667%; }
  .col-xs-17 { flex: 0 0 70.833333%; max-width: 70.833333%; }
  .col-xs-18 { flex: 0 0 75%; max-width: 75%; }
  .col-xs-19 { flex: 0 0 79.166667%; max-width: 79.166667%; }
  .col-xs-20 { flex: 0 0 83.333333%; max-width: 83.333333%; }
  .col-xs-21 { flex: 0 0 87.5%; max-width: 87.5%; }
  .col-xs-22 { flex: 0 0 91.666667%; max-width: 91.666667%; }
  .col-xs-23 { flex: 0 0 95.833333%; max-width: 95.833333%; }
  .col-xs-24 { flex: 0 0 100%; max-width: 100%; }

  .col-xs-offset-1 { margin-left: 4.166667%; }
  .col-xs-offset-2 { margin-left: 8.333333%; }
  .col-xs-offset-3 { margin-left: 12.5%; }
  .col-xs-offset-4 { margin-left: 16.666667%; }
  .col-xs-offset-5 { margin-left: 20.833333%; }
  .col-xs-offset-6 { margin-left: 25%; }
  .col-xs-offset-7 { margin-left: 29.166667%; }
  .col-xs-offset-8 { margin-left: 33.333333%; }
  .col-xs-offset-9 { margin-left: 37.5%; }
  .col-xs-offset-10 { margin-left: 41.666667%; }
  .col-xs-offset-11 { margin-left: 45.833333%; }
  .col-xs-offset-12 { margin-left: 50%; }
}

/* SM - Small: ≥ 576px (landscape phones) */
@media (min-width: 576px) {
  .col-sm-1 { flex: 0 0 4.166667%; max-width: 4.166667%; }
  .col-sm-2 { flex: 0 0 8.333333%; max-width: 8.333333%; }
  .col-sm-3 { flex: 0 0 12.5%; max-width: 12.5%; }
  .col-sm-4 { flex: 0 0 16.666667%; max-width: 16.666667%; }
  .col-sm-5 { flex: 0 0 20.833333%; max-width: 20.833333%; }
  .col-sm-6 { flex: 0 0 25%; max-width: 25%; }
  .col-sm-7 { flex: 0 0 29.166667%; max-width: 29.166667%; }
  .col-sm-8 { flex: 0 0 33.333333%; max-width: 33.333333%; }
  .col-sm-9 { flex: 0 0 37.5%; max-width: 37.5%; }
  .col-sm-10 { flex: 0 0 41.666667%; max-width: 41.666667%; }
  .col-sm-11 { flex: 0 0 45.833333%; max-width: 45.833333%; }
  .col-sm-12 { flex: 0 0 50%; max-width: 50%; }
  .col-sm-13 { flex: 0 0 54.166667%; max-width: 54.166667%; }
  .col-sm-14 { flex: 0 0 58.333333%; max-width: 58.333333%; }
  .col-sm-15 { flex: 0 0 62.5%; max-width: 62.5%; }
  .col-sm-16 { flex: 0 0 66.666667%; max-width: 66.666667%; }
  .col-sm-17 { flex: 0 0 70.833333%; max-width: 70.833333%; }
  .col-sm-18 { flex: 0 0 75%; max-width: 75%; }
  .col-sm-19 { flex: 0 0 79.166667%; max-width: 79.166667%; }
  .col-sm-20 { flex: 0 0 83.333333%; max-width: 83.333333%; }
  .col-sm-21 { flex: 0 0 87.5%; max-width: 87.5%; }
  .col-sm-22 { flex: 0 0 91.666667%; max-width: 91.666667%; }
  .col-sm-23 { flex: 0 0 95.833333%; max-width: 95.833333%; }
  .col-sm-24 { flex: 0 0 100%; max-width: 100%; }

  .col-sm-offset-1 { margin-left: 4.166667%; }
  .col-sm-offset-2 { margin-left: 8.333333%; }
  .col-sm-offset-3 { margin-left: 12.5%; }
  .col-sm-offset-4 { margin-left: 16.666667%; }
  .col-sm-offset-5 { margin-left: 20.833333%; }
  .col-sm-offset-6 { margin-left: 25%; }
  .col-sm-offset-7 { margin-left: 29.166667%; }
  .col-sm-offset-8 { margin-left: 33.333333%; }
  .col-sm-offset-9 { margin-left: 37.5%; }
  .col-sm-offset-10 { margin-left: 41.666667%; }
  .col-sm-offset-11 { margin-left: 45.833333%; }
  .col-sm-offset-12 { margin-left: 50%; }
}

/* MD - Medium: ≥ 768px (tablets) */
@media (min-width: 768px) {
  .col-md-1 { flex: 0 0 4.166667%; max-width: 4.166667%; }
  .col-md-2 { flex: 0 0 8.333333%; max-width: 8.333333%; }
  .col-md-3 { flex: 0 0 12.5%; max-width: 12.5%; }
  .col-md-4 { flex: 0 0 16.666667%; max-width: 16.666667%; }
  .col-md-5 { flex: 0 0 20.833333%; max-width: 20.833333%; }
  .col-md-6 { flex: 0 0 25%; max-width: 25%; }
  .col-md-7 { flex: 0 0 29.166667%; max-width: 29.166667%; }
  .col-md-8 { flex: 0 0 33.333333%; max-width: 33.333333%; }
  .col-md-9 { flex: 0 0 37.5%; max-width: 37.5%; }
  .col-md-10 { flex: 0 0 41.666667%; max-width: 41.666667%; }
  .col-md-11 { flex: 0 0 45.833333%; max-width: 45.833333%; }
  .col-md-12 { flex: 0 0 50%; max-width: 50%; }
  .col-md-13 { flex: 0 0 54.166667%; max-width: 54.166667%; }
  .col-md-14 { flex: 0 0 58.333333%; max-width: 58.333333%; }
  .col-md-15 { flex: 0 0 62.5%; max-width: 62.5%; }
  .col-md-16 { flex: 0 0 66.666667%; max-width: 66.666667%; }
  .col-md-17 { flex: 0 0 70.833333%; max-width: 70.833333%; }
  .col-md-18 { flex: 0 0 75%; max-width: 75%; }
  .col-md-19 { flex: 0 0 79.166667%; max-width: 79.166667%; }
  .col-md-20 { flex: 0 0 83.333333%; max-width: 83.333333%; }
  .col-md-21 { flex: 0 0 87.5%; max-width: 87.5%; }
  .col-md-22 { flex: 0 0 91.666667%; max-width: 91.666667%; }
  .col-md-23 { flex: 0 0 95.833333%; max-width: 95.833333%; }
  .col-md-24 { flex: 0 0 100%; max-width: 100%; }

  .col-md-offset-1 { margin-left: 4.166667%; }
  .col-md-offset-2 { margin-left: 8.333333%; }
  .col-md-offset-3 { margin-left: 12.5%; }
  .col-md-offset-4 { margin-left: 16.666667%; }
  .col-md-offset-5 { margin-left: 20.833333%; }
  .col-md-offset-6 { margin-left: 25%; }
  .col-md-offset-7 { margin-left: 29.166667%; }
  .col-md-offset-8 { margin-left: 33.333333%; }
  .col-md-offset-9 { margin-left: 37.5%; }
  .col-md-offset-10 { margin-left: 41.666667%; }
  .col-md-offset-11 { margin-left: 45.833333%; }
  .col-md-offset-12 { margin-left: 50%; }
}

/* LG - Large: ≥ 992px (desktops) */
@media (min-width: 992px) {
  .col-lg-1 { flex: 0 0 4.166667%; max-width: 4.166667%; }
  .col-lg-2 { flex: 0 0 8.333333%; max-width: 8.333333%; }
  .col-lg-3 { flex: 0 0 12.5%; max-width: 12.5%; }
  .col-lg-4 { flex: 0 0 16.666667%; max-width: 16.666667%; }
  .col-lg-5 { flex: 0 0 20.833333%; max-width: 20.833333%; }
  .col-lg-6 { flex: 0 0 25%; max-width: 25%; }
  .col-lg-7 { flex: 0 0 29.166667%; max-width: 29.166667%; }
  .col-lg-8 { flex: 0 0 33.333333%; max-width: 33.333333%; }
  .col-lg-9 { flex: 0 0 37.5%; max-width: 37.5%; }
  .col-lg-10 { flex: 0 0 41.666667%; max-width: 41.666667%; }
  .col-lg-11 { flex: 0 0 45.833333%; max-width: 45.833333%; }
  .col-lg-12 { flex: 0 0 50%; max-width: 50%; }
  .col-lg-13 { flex: 0 0 54.166667%; max-width: 54.166667%; }
  .col-lg-14 { flex: 0 0 58.333333%; max-width: 58.333333%; }
  .col-lg-15 { flex: 0 0 62.5%; max-width: 62.5%; }
  .col-lg-16 { flex: 0 0 66.666667%; max-width: 66.666667%; }
  .col-lg-17 { flex: 0 0 70.833333%; max-width: 70.833333%; }
  .col-lg-18 { flex: 0 0 75%; max-width: 75%; }
  .col-lg-19 { flex: 0 0 79.166667%; max-width: 79.166667%; }
  .col-lg-20 { flex: 0 0 83.333333%; max-width: 83.333333%; }
  .col-lg-21 { flex: 0 0 87.5%; max-width: 87.5%; }
  .col-lg-22 { flex: 0 0 91.666667%; max-width: 91.666667%; }
  .col-lg-23 { flex: 0 0 95.833333%; max-width: 95.833333%; }
  .col-lg-24 { flex: 0 0 100%; max-width: 100%; }

  .col-lg-offset-1 { margin-left: 4.166667%; }
  .col-lg-offset-2 { margin-left: 8.333333%; }
  .col-lg-offset-3 { margin-left: 12.5%; }
  .col-lg-offset-4 { margin-left: 16.666667%; }
  .col-lg-offset-5 { margin-left: 20.833333%; }
  .col-lg-offset-6 { margin-left: 25%; }
  .col-lg-offset-7 { margin-left: 29.166667%; }
  .col-lg-offset-8 { margin-left: 33.333333%; }
  .col-lg-offset-9 { margin-left: 37.5%; }
  .col-lg-offset-10 { margin-left: 41.666667%; }
  .col-lg-offset-11 { margin-left: 45.833333%; }
  .col-lg-offset-12 { margin-left: 50%; }
}

/* XL - Extra Large: ≥ 1200px (large desktops) */
@media (min-width: 1200px) {
  .col-xl-1 { flex: 0 0 4.166667%; max-width: 4.166667%; }
  .col-xl-2 { flex: 0 0 8.333333%; max-width: 8.333333%; }
  .col-xl-3 { flex: 0 0 12.5%; max-width: 12.5%; }
  .col-xl-4 { flex: 0 0 16.666667%; max-width: 16.666667%; }
  .col-xl-5 { flex: 0 0 20.833333%; max-width: 20.833333%; }
  .col-xl-6 { flex: 0 0 25%; max-width: 25%; }
  .col-xl-7 { flex: 0 0 29.166667%; max-width: 29.166667%; }
  .col-xl-8 { flex: 0 0 33.333333%; max-width: 33.333333%; }
  .col-xl-9 { flex: 0 0 37.5%; max-width: 37.5%; }
  .col-xl-10 { flex: 0 0 41.666667%; max-width: 41.666667%; }
  .col-xl-11 { flex: 0 0 45.833333%; max-width: 45.833333%; }
  .col-xl-12 { flex: 0 0 50%; max-width: 50%; }
  .col-xl-13 { flex: 0 0 54.166667%; max-width: 54.166667%; }
  .col-xl-14 { flex: 0 0 58.333333%; max-width: 58.333333%; }
  .col-xl-15 { flex: 0 0 62.5%; max-width: 62.5%; }
  .col-xl-16 { flex: 0 0 66.666667%; max-width: 66.666667%; }
  .col-xl-17 { flex: 0 0 70.833333%; max-width: 70.833333%; }
  .col-xl-18 { flex: 0 0 75%; max-width: 75%; }
  .col-xl-19 { flex: 0 0 79.166667%; max-width: 79.166667%; }
  .col-xl-20 { flex: 0 0 83.333333%; max-width: 83.333333%; }
  .col-xl-21 { flex: 0 0 87.5%; max-width: 87.5%; }
  .col-xl-22 { flex: 0 0 91.666667%; max-width: 91.666667%; }
  .col-xl-23 { flex: 0 0 95.833333%; max-width: 95.833333%; }
  .col-xl-24 { flex: 0 0 100%; max-width: 100%; }

  .col-xl-offset-1 { margin-left: 4.166667%; }
  .col-xl-offset-2 { margin-left: 8.333333%; }
  .col-xl-offset-3 { margin-left: 12.5%; }
  .col-xl-offset-4 { margin-left: 16.666667%; }
  .col-xl-offset-5 { margin-left: 20.833333%; }
  .col-xl-offset-6 { margin-left: 25%; }
  .col-xl-offset-7 { margin-left: 29.166667%; }
  .col-xl-offset-8 { margin-left: 33.333333%; }
  .col-xl-offset-9 { margin-left: 37.5%; }
  .col-xl-offset-10 { margin-left: 41.666667%; }
  .col-xl-offset-11 { margin-left: 45.833333%; }
  .col-xl-offset-12 { margin-left: 50%; }
}

/* XXL - Extra Extra Large: ≥ 1600px (extra large desktops) */
@media (min-width: 1600px) {
  .col-xxl-1 { flex: 0 0 4.166667%; max-width: 4.166667%; }
  .col-xxl-2 { flex: 0 0 8.333333%; max-width: 8.333333%; }
  .col-xxl-3 { flex: 0 0 12.5%; max-width: 12.5%; }
  .col-xxl-4 { flex: 0 0 16.666667%; max-width: 16.666667%; }
  .col-xxl-5 { flex: 0 0 20.833333%; max-width: 20.833333%; }
  .col-xxl-6 { flex: 0 0 25%; max-width: 25%; }
  .col-xxl-7 { flex: 0 0 29.166667%; max-width: 29.166667%; }
  .col-xxl-8 { flex: 0 0 33.333333%; max-width: 33.333333%; }
  .col-xxl-9 { flex: 0 0 37.5%; max-width: 37.5%; }
  .col-xxl-10 { flex: 0 0 41.666667%; max-width: 41.666667%; }
  .col-xxl-11 { flex: 0 0 45.833333%; max-width: 45.833333%; }
  .col-xxl-12 { flex: 0 0 50%; max-width: 50%; }
  .col-xxl-13 { flex: 0 0 54.166667%; max-width: 54.166667%; }
  .col-xxl-14 { flex: 0 0 58.333333%; max-width: 58.333333%; }
  .col-xxl-15 { flex: 0 0 62.5%; max-width: 62.5%; }
  .col-xxl-16 { flex: 0 0 66.666667%; max-width: 66.666667%; }
  .col-xxl-17 { flex: 0 0 70.833333%; max-width: 70.833333%; }
  .col-xxl-18 { flex: 0 0 75%; max-width: 75%; }
  .col-xxl-19 { flex: 0 0 79.166667%; max-width: 79.166667%; }
  .col-xxl-20 { flex: 0 0 83.333333%; max-width: 83.333333%; }
  .col-xxl-21 { flex: 0 0 87.5%; max-width: 87.5%; }
  .col-xxl-22 { flex: 0 0 91.666667%; max-width: 91.666667%; }
  .col-xxl-23 { flex: 0 0 95.833333%; max-width: 95.833333%; }
  .col-xxl-24 { flex: 0 0 100%; max-width: 100%; }

  .col-xxl-offset-1 { margin-left: 4.166667%; }
  .col-xxl-offset-2 { margin-left: 8.333333%; }
  .col-xxl-offset-3 { margin-left: 12.5%; }
  .col-xxl-offset-4 { margin-left: 16.666667%; }
  .col-xxl-offset-5 { margin-left: 20.833333%; }
  .col-xxl-offset-6 { margin-left: 25%; }
  .col-xxl-offset-7 { margin-left: 29.166667%; }
  .col-xxl-offset-8 { margin-left: 33.333333%; }
  .col-xxl-offset-9 { margin-left: 37.5%; }
  .col-xxl-offset-10 { margin-left: 41.666667%; }
  .col-xxl-offset-11 { margin-left: 45.833333%; }
  .col-xxl-offset-12 { margin-left: 50%; }
}
