<h2>Dashboard</h2>
<div class="flex-container">
  <div class="flex-item" id="greenhouse-card-container"></div>
  <div class="flex-item" id="sensor-card-container"></div>
  <div class="flex-item" id="threshold-alert-card-container"></div>
  <div class="flex-item" id="sensor-reading-card-container"></div>
</div>
