<div class="card">
  <a href="/sensor-readings" class="card-header-link">
    <h3 class="card-title">Sensor Readings</h3>
  </a>
  <div class="card-content sensor-reading-card">
    <canvas id="sensorReadingsChart"></canvas>
  </div>
  <p class="card-content">Total Readings: <%= sensorReadings.length %></p>
</div>
