<div class="card">
  <a href="/threshold-alerts" class="card-header-link">
    <h3 class="class-title">Alerts</h3>
  </a>
  <p class="card-content">Total Alerts: <%= thresholdAlerts.length %></p>
</div>
