#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* import '@web-loom/design-core/design-system/index.css'; */
/* use css import  */
/* @import '@web-loom/design-core/design-system/index.css'; */