:root {
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-4: 4px;
  --border-style-solid: solid;
  --border-style-dashed: dashed;
  --border-style-dotted: dotted;
  --border-style-none: none;
}
